div.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

path {
    fill: none;
    stroke-width: 1px;
}

.postsContainer {
    display: -webkit-flex;
    display: flex;
}

.postsContainer > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
