svg {
    float: left;
}

path {
    fill: none;
    pointer-events: none;
}
/* Reset h1 style */
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Reset h2 style */
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 220px;
    height: 60px;
    padding: 7px;
    font: 12px sans-serif;
    background:  #555;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.message > div > h1 {
    font-size: 24px;
    font-family: sans-serif;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.fa-external-link {
    color: #555555;
}

.topright {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;

}

.fixedBottomRight{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 30;
}

.is-white{
    color: #f6fef9;
}
