svg {
    float: left;
}

path {
    fill: none;
}
/* Reset h1 style */
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Reset h2 style */
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background:  #555;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.postsRelated {
    margin: 20px;
    float: left;
    min-width: 200px;
    max-width: 600px;
}

.postsContainer > div > h1 {
    align: center;
    font-size: 24px;
    font-family: sans-serif;
}

.postsContainer {
    margin-top: 20px;
}

.postsContainer > .postItem {
    position: relative;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-width: thin;
    border-color: #555555;
    background: #CEE3F8;
    min-width: 200px;
    max-width: 600px;
    overflow: auto;
}

.postAuthor {
    font-weight: bold;
}

.postPoints {
    font-weight: bold;
}

.postsContainer > div > .date {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.postThumbnail {
    padding-right: 10px;
    float: left;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.fa-external-link {
    color: #555555;
}

.topright {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;
}
